<a href="https://colab.research.google.com/github/helen-13/Analise-Alura/blob/main/Imobili%C3%A1rio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Relátorio de Análise de Imoveis - Alura

Importe da biblioteca necessária para o tratamento dos dados.

In [2]:
import pandas as pd

In [3]:
pd.read_csv('/content/aluguel.csv', sep=';')

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     NaN
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32960 rows x 9 columns]

In [4]:
dados= pd.read_csv('/content/aluguel.csv', sep=';')
dados

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     NaN
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32960 rows x 9 columns]

Tipos de dados que estão disponíveis no arquivo.

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [6]:
dados.head(n=10)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN
5              Apartamento     Vista Alegre  ...         NaN     NaN
6              Apartamento         Cachambi  ...       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca  ...         NaN     NaN
8       Casa de Condomínio            Ramos  ...         NaN     NaN
9  Conjunto Comercial/Sala           Centro  ...     19193.0  3030.0

[10 rows x 9 columns]

In [7]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [8]:
tipos_de_dados= pd.DataFrame(dados.dtypes, columns=['tipos de dados'])
tipos_de_dados.columns.name='variavéis'
tipos_de_dados

variavéis  tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [9]:
dados.shape[0]

32960

In [10]:
dados.shape[1]

9

In [11]:
dados.shape

(32960, 9)

# Relatório de análise - **tipos de dados**

In [12]:
tipo_de_imovel = dados['Tipo']

In [13]:
tipo_de_imovel.drop_duplicates(inplace=True)
tipo_de_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

# **Organizando Visualizações dos dados**

In [14]:
tipo_de_imovel=pd.DataFrame(tipo_de_imovel)

In [15]:
tipo_de_imovel.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [16]:
tipo_de_imovel.shape

(22, 1)

In [17]:
range(tipo_de_imovel.shape[0])

range(0, 22)

In [18]:
for i in range(tipo_de_imovel.shape[0]):
  print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [19]:
tipo_de_imovel.index= range(tipo_de_imovel.shape[0])
tipo_de_imovel.index

RangeIndex(start=0, stop=22, step=1)

In [20]:
tipo_de_imovel

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [21]:
tipo_de_imovel.columns.name='id'
tipo_de_imovel

id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

# **Relatório de Análises - Imoveis Residenciais**

---

In [22]:
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [23]:
residencial= ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']
residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [24]:
selecao_residencial= dados['Tipo'].isin(residencial).head(10)
selecao_residencial

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7     True
8     True
9    False
Name: Tipo, dtype: bool

In [25]:
selecao_residencial.shape[0]

10